/* for tablets*/
.main{
    width:80%;
    padding: 0%;
}
.right{
    width:100%
}
@media only screen and (max-width:500px){
    
}
/*for mobile phones*/
.menu,.main,.right{
    width:100%;
}